* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color-container {
  background-color: aqua;
  width: 300px;
  height: 150px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  margin: 15px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
